* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

table {
  margin: auto;
  width: 100vmin;
  height: 100vmin;
}

.black {
  background-color: #000;
}

td.highlight,
.highlight td {
  box-shadow: 0 0 3px 3px blue inset;
}