$chessboard-size: 100vmin;
$highlight-size: 50%;
$highlight-border-size: 0.4vmin;
$hover-color: #040;
$hover-bg-color: #afa;

$figure-transition-speed: 0.5s;
$figure-transition-function: ease;



*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.chessboard {
  position: relative;
  margin: auto;
  width: $chessboard-size;
  height: $chessboard-size;

  // .figures,
  table {
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  // .figures {
  //   pointer-events: none;
  //   z-index: 2;
  // }

  table {
    border-collapse: collapse;
  }

  tr {
    border: 0;
  }

  td {
    border: 0;
    position: relative;
    &:hover {
      background-color: $hover-bg-color;
      color: $hover-color;
    }
  }

  .black {
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: $hover-color;
      color: $hover-bg-color;
    }
  }

  td.highlight,
  .highlight td {
    &:after {
      content: '';
      display: block;
      top: $highlight-size / 2;
      left: $highlight-size / 2;
      width: $highlight-size;
      height: $highlight-size;
      position: absolute;
      border-radius: 100%;
      border: $highlight-border-size solid currentColor;
    }
  }
}

// /* figures */
// .figure {
//   position: absolute;
//   display: block;
//   width: $chessboard-size / 8;
//   height: $chessboard-size / 8;
//   border: none;

//   transition: top $figure-transition-speed $figure-transition-function,
//               left  $figure-transition-speed $figure-transition-function;

//   &:before {
//     font-family: monospace;
//     display: block;
//     text-align: center;
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     font-size: $chessboard-size / 16;
//     line-height: $chessboard-size / 8;
//     z-index: 2;
//   }

//   &--on-white {
//     color: #000;
//   }
//   &--on-black {
//     color: #fff;
//   }

//   &--selected {
//     &:after {
//       position: absolute;
//       top: 20%;
//       left: 20%;
//       content: '';
//       width: 60%;
//       height: 60%;
//       border: 0.3vmin solid currentColor;
//       border-radius: 100%;
//     }
//   }

//   &--white {
//     &__king:before {
//       content: '♔';
//     }
//     &__queen:before {
//       content: '♕';
//     }
//     &__rook:before {
//       content: '♖';
//     }
//     &__bishop:before {
//       content: '♗';
//     }
//     &__knight:before {
//       content: '♘';
//     }
//     &__pawn:before {
//       content: '♙';
//     }
//   }

//   &--black {
//     &__king:before {
//       content: '♚';
//     }
//     &__queen:before {
//       content: '♛';
//     }
//     &__rook:before {
//       content: '♜';
//     }
//     &__bishop:before {
//       content: '♝';
//     }
//     &__knight:before {
//       content: '♞';
//     }
//     &__pawn:before {
//       content: '♟';
//     }
//   }

//   &__position {
//     @for $r from 0 through 7 {
//       @for $c from 0 through 7 {
//         &--#{$r}-#{$c} {
//           top: $r * $chessboard-size / 8;
//           left: $c * $chessboard-size / 8;
//         }
//       }
//     }
//   }
// }
